<?xml version="1.0"?>
<!--
/**
 * Copyright © eComBricks. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_vendor_contact_index_post">
        <observer name="captcha_contact_vendor_form" instance="Ecombricks\VendorCaptcha\Observer\CheckContactVendorFormObserver" />
    </event>
</config>